:root {
  --primaryColor:#fafaf3;
  --secondaryColor: #E3FCEF;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(104, 103, 103, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.App{
    display:flex;
    justify-content: center;
}
.App> section{
    width: 100%;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    /* flex-direction: row; */
    justify-content:space-between;
    text-align: center;
    
}

/* Button styles */
.btn-primary{
    background-color: rgb(83, 83, 191);
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    height: fit-content;
}

.btn-secondary{
    background-color: lightgray;
    color: black;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    height: fit-content;
}


.cursor-pointer{
    cursor: pointer;
}
.sticky{
    top:0;
    position: fixed;
}

/* Flex properties */
.d-flex-row{
    display: flex;
    flex-direction: row;
}

.d-flex-row-reverse{
    display: flex;
    flex-direction: row-reverse;
}

.d-flex-column{
    display: flex;
    flex-direction: column;
}

.d-flex-wrap{
  display: flex;
  flex-wrap: wrap;        /* ✅ allows wrapping to next line */
  gap: 1rem;              /* optional: spacing between items */
}

.space-btw{
    justify-content: space-between !important;
}


/**
  Structural styles
 */
.box{
    height: fit-content;
    padding: .6rem .8rem;
}

/**
 Reusable widths
*/

.w10{
    width: 10%;
}
.w15{
    max-width:15%;
    min-width: 15%;
}
.w20{
    max-width:20%;
    min-width: 20%;
}
.w30{
    max-width:30%;
    min-width: 30%;
}
.w40{
    width: 40%;
}
.w50{
    width: 50%;
}
.w60{
    width: 60%;
}
.w80{
    width: 80%;
}
.w100{
    width: 100%;
}


.bg-grey{
    /* background-color: #f9f9f9; */
    background-image: radial-gradient(circle, #00c2f7, #9198e5);
}

/**
   Custom Fonts size
 */
.f16{
    font-size: 16px;
}
.f14{
    font-size: 14px;
}
.f12{
    font-size: 12px;
}
.f10{
    font-size: 10px;
}

.mr-1{
  margin-right: 1rem;
}

.mtb1{
    margin: 1rem 0rem;
}

.mtb2{
    margin: 2rem 0rem;
}
.p1{
    padding: 1rem;
}
.p2{
    padding: 2rem;
}

.plr1{
    padding: 0rem 1rem;
}

.plr2{
    padding: 0rem 2rem;
}

.mlr8px{
    margin: 0rem 8px;
}


/** Input*/
input{
    height: auto;
    border: none;
    outline: none;
}

select{
    border: none;
    outline: none;
}

/*
 * Custom fonts styles
 */
.font-style-1{
    font-size: large;
    letter-spacing: 1px;
    font-weight: bold;
}

.curved-box{
    background-color: white;
    padding:6px 10px;
    border-radius: 10px;
    min-height: 1.3rem;
    margin:0 0.5rem;
}

.p-relative{
   position: relative;
}

/* dark mode css */
.dark-box{
    background-color: #696868 !important;
    color: white;
}

.disabled-link{
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
    text-decoration: none;
}

.about-container {
  padding: 5rem;
  background-color: white;
  border-radius: 8px;
  max-width: 800px;
  margin: 20px auto;
}

.about-container h1 {
  font-size: 2rem;
}

.about-container p {
  font-size: 1rem;
  line-height: 1.6;
}

.options-container {
    width: auto;
    height: auto;
    background-color: #f6f6f4de;
    position: absolute;
    font-size: small;
    right:10;
    z-index: 10;
}

.options-container>div {
    padding: 0.6rem 0.8rem;
    cursor: pointer;
    border: 1px;
}

.options-container>div:hover {
    background-color: white;
}

.options-container>div>span {
    margin: 0rem 0.3rem;
}

.feature-detail{
    color: #707070;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 130%;
    display: flex;
}

strong{
    font-weight: bold;
}