.cards-container {
    padding: 1rem;
}

#card-header {
    padding: .4rem 0.4rem;
    margin: 0rem 0rem 0.3rem 0rem;
    letter-spacing: 0.1rem;
    border-bottom: 5px solid aliceblue;
    width: 88%;
    font-weight: 500;
}

#card-items-box {
    height: 78vh;
    overflow: auto;
}



