.widget-container {
    position: relative;
}

#widged-option-container {
    background-color: var(--primaryColor);
    color: black;
    width: 8rem;
    height: auto;
    position: absolute;
    top: 30px;
    padding: .4rem .5rem;
    z-index: 10;
}

#widged-option-container > div{
    margin:10px 0px;
}

#widged-option-container>div>span{
    background-color: white; 
    padding: .2rem .5rem;
    border-radius: 10px;
}